((*- extends 'article.tplx' -*))

% Remove date and name
((* block title *))
  \maketitle
((* endblock title *))

((* block author *))
((* endblock author *))

((* block date *))
((* endblock date *))
